* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: hsla(0, 0%, 0%, 0.024);
    color: hsla(0, 0%, 0%, 0.773);
}
.bigimagcontainer {
  background-image: url("/images/savmyhome.jpg");
  background-size: cover;
  background-position: 0% 35%;
  height: 55vh;
}

.cardcont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cardimg {
  height: 40vh;
  width: 100%;
  background-image: url("/images/p1.jpg");
  background-size: cover;
  animation: cardim infinite alternate-reverse 10s;
}
@keyframes cardim {
  20% {
    background-image: url("/images/p2.jpg");
    background-size: cover;
  }
  40% {
    background-image: url("/images/p3.jpg");
    background-size: cover;
  }
  70% {
    background-image: url("/images/p4.jpg");
  }
  100% {
    background-image: url("/images/p5.jpg");
  }
}
.youtube{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 575px) {
  .main-container {
    height: 5vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .borger {
    background-color: white;
    width: 10vw;
    height: 0.5vh;
    margin-bottom: 0.5vh;
  }
  .main-container:hover {
    transition-duration: 1s;
    height: 26vh;

  }
  .bigimagcontainer {
      background-position: 0% 30%;
    height: 25vh;
  }
  .navul {
    font-size: 1.5vh;
  }
  .listcontainer {
    display: flex;
    flex-direction: column;
  }
  .cardcont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .youtube{
    width: 100%;
    height: 30vh;
}
.cardcont{
    margin: 0;
}
}

